KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=
 
KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/terminal/tty.o \
$(ARCHDIR)/cpu/portio.o \
$(ARCHDIR)/interrupts/interrupt.o \
$(ARCHDIR)/interrupts/isr.o \
$(ARCHDIR)/interrupts/descriptor_tables.o \
$(ARCHDIR)/interrupts/gdt.o \
$(ARCHDIR)/timer/timer.o \
$(ARCHDIR)/keyboard/keyboard.o \
$(ARCHDIR)/shell/shell.o \
$(ARCHDIR)/shell/commands.o \
$(ARCHDIR)/cpu/reboot.o \
$(ARCHDIR)/paging/paging.o \
$(ARCHDIR)/heap/heap.o \
$(ARCHDIR)/cpu/panic.o \
$(ARCHDIR)/ordered-map/ordered_map.o \

